
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap');


body{
    background-color: cadetblue;
}

ol,
p,
ul {
    line-height: 1.7;
}

a {
    color: #3eaf7c;
    font-weight: 500;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.45;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    font-family: Montserrat;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #eaecef;
    font-family: Montserrat;
    font-style: italic;
}

h3 {
    font-size: 1.35rem;
}

.container{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.card {

}
.app-titles{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.notes-count{
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
}


.form-control input,
.form-control select {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    width: 950px;
    color: #2c3e50;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    font-size: 22px;
    font-family: Montserrat;
    font-style: italic;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    outline: none;
    background: #42b983;
    font-family: Montserrat;
    font-size: 15px;

}

.btn.delete {
    background: #e53935;
    color: #fff;
    border-color: #e53935;
    right: 0;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item {
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 22px;
}